In [28]:
# Import pandas
import pandas as pd

# Load dataset
cc_apps = pd.read_excel("https://docs.google.com/spreadsheets/d/e/2PACX-1vQf-uyQBw6l2s6aIOgvlWUmT3gdmN9YfRvD1ZEtM62_Z_Lfx2LJPN0iC9BqUUThh6guB-UVfj9gmCl0/pub?output=xlsx" ,header=None)

# Inspect data
cc_apps.head()

  0        1        2  3  4  5  6         7  8  9    10 11 12     13     14 15
0  b    30.83     0.00  u  g  w  v      1.25  t  t  1.0  f  g  202.0    0.0  +
1  a    58.67     4.46  u  g  q  h  44654.00  t  t  6.0  f  g   43.0  560.0  +
2  a  44705.0     0.50  u  g  q  h  44682.00  t  f  0.0  f  g  280.0  824.0  +
3  b    27.83     1.54  u  g  w  v      3.75  t  t  5.0  t  g  100.0    3.0  +
4  b    20.17  5625.00  u  g  w  v      1.71  t  f  0.0  f  s  120.0    0.0  +

In [29]:
# Print summary statistics
cc_apps_description = cc_apps.describe()
print(cc_apps_description)

print("\n")

# Print DataFrame information
cc_apps_info = cc_apps.info()
print(cc_apps_info)

print("\n")

# Inspect missing values in the dataset
print(cc_apps.tail(74))

                 2             7          10             14
count    690.000000    690.000000  690.00000     690.000000
mean   10455.575304   6488.026406    2.40000    1017.385507
std    17929.145792  15242.937710    4.86294    5210.102598
min        0.000000      0.000000    0.00000       0.000000
25%        2.710000      0.500000    0.00000       0.000000
50%       15.000000      5.000000    0.00000       5.000000
75%     9615.000000    835.000000    3.00000     395.500000
max    44780.000000  44709.000000   67.00000  100000.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    float64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    float64
 15  15      690 non-null    object
dtypes: float64(4), object(12)
memory usage: 86.4+ KB
None


    0        1         2  3  4   5   6        7  8  9    10 11 12     13  \
616  b    22.67      0.75  u  g   i   v  1585.00  f  t  1.0  t  g  400.0
617  b    32.25     14.00  y  p  ff  ff     0.00  f  t  2.0  f  g  160.0
618  b    29.58      4.75  u  g   m   v     2.00  f  t  1.0  t  g  460.0
619  b    18.42  10415.00  y  p  aa   v   125.00  t  f  0.0  f  g  120.0
620  b    22.17      2.25  u  g   i   v   125.00  f  f  0.0  f  g  160.0
..  ..      ...       ... .. ..  ..  ..      ... .. ..  ... .. ..    ...
685  b  44794.0  10085.00  y  p   e   h     1.25  f  f  0.0  f  g  260.0
686  a    22.67      0.75  u  g   c   v     2.00  f  t  2.0  t  g  200.0
687  a    25.25  44694.00  y  p  ff  ff     2.00  f  t  1.0  t  g  200.0
688  b    17.92    205.00  u  g  aa   v     0.04  f  f  0.0  f  g  280.0
689  b     35.0   3375.00  u  g   c   h     8.29  f  f  0.0  t  g    0.0

        14 15
616    9.0  -
617    1.0  -
618   68.0  -
619  375.0  -
620   10.0  -
..     ... ..
685    0.0  -
686  394.0  -
687    1.0  -
688  750.0  -
689    0.0  -

[74 rows x 16 columns]

In [ ]:
# Import numpy
import numpy as np

# Inspect missing values in the dataset
print(cc_apps.tail(17))

# Replace the '?'s with NaN
cc_apps = cc_apps.replace('?', np.nan)

# Inspect the missing values again
print(cc_apps.tail(17))

     b    30.83       0.0  u  g   w   v      1.25  t t.1   1.0  f g.1  202.0  \
672  ?  44710.0      2.00  y  p   e   h      2.00  f   f   0.0  f   g  256.0
673  a    37.33  44683.00  u  g   i   h      0.21  f   f   0.0  f   g  260.0
674  a    41.58  44652.00  u  g  aa   v    665.00  f   f   0.0  f   g  240.0
675  a    30.58  10665.00  u  g   q   h     85.00  f   t  12.0  t   g  129.0
676  b    19.42      7.25  u  g   m   v      0.04  f   t   1.0  f   g  100.0
677  a    17.92     10.21  u  g  ff  ff      0.00  f   f   0.0  f   g    0.0
678  a  44793.0      1.25  u  g   c   v      0.00  f   f   0.0  f   g    0.0
679  b  44700.0      0.29  u  g   k   v      0.29  f   f   0.0  f   g  280.0
680  b    27.83      1.00  y  p   d   h      3.00  f   f   0.0  f   g  176.0
681  b  44790.0      3.29  u  g   i   v    335.00  f   f   0.0  t   g  140.0
682  b    36.42      0.75  y  p   d   v    585.00  f   f   0.0  f   g  240.0
683  b    40.58      3.29  u  g   m   v  44684.00  f   f   0.0  t   s  400.0
684  b  44794.0  10085.00  y  p   e   h      1.25  f   f   0.0  f   g  260.0
685  a    22.67      0.75  u  g   c   v      2.00  f   t   2.0  t   g  200.0
686  a    25.25  44694.00  y  p  ff  ff      2.00  f   t   1.0  t   g  200.0
687  b    17.92    205.00  u  g  aa   v      0.04  f   f   0.0  f   g  280.0
688  b     35.0   3375.00  u  g   c   h      8.29  f   f   0.0  t   g    0.0

     0.0.1  +
672   17.0  -
673  246.0  -
674  237.0  -
675    3.0  -
676    1.0  -
677   50.0  -
678    0.0  -
679  364.0  -
680  537.0  -
681    2.0  -
682    3.0  -
683    0.0  -
684    0.0  -
685  394.0  -
686    1.0  -
687  750.0  -
688    0.0  -
       b    30.83       0.0  u  g   w   v      1.25  t t.1   1.0  f g.1  \
672  NaN  44710.0      2.00  y  p   e   h      2.00  f   f   0.0  f   g
673    a    37.33  44683.00  u  g   i   h      0.21  f   f   0.0  f   g
674    a    41.58  44652.00  u  g  aa   v    665.00  f   f   0.0  f   g
675    a    30.58  10665.00  u  g   q   h     85.00  f   t  12.0  t   g
676    b    19.42      7.25  u  g   m   v      0.04  f   t   1.0  f   g
677    a    17.92     10.21  u  g  ff  ff      0.00  f   f   0.0  f   g
678    a  44793.0      1.25  u  g   c   v      0.00  f   f   0.0  f   g
679    b  44700.0      0.29  u  g   k   v      0.29  f   f   0.0  f   g
680    b    27.83      1.00  y  p   d   h      3.00  f   f   0.0  f   g
681    b  44790.0      3.29  u  g   i   v    335.00  f   f   0.0  t   g
682    b    36.42      0.75  y  p   d   v    585.00  f   f   0.0  f   g
683    b    40.58      3.29  u  g   m   v  44684.00  f   f   0.0  t   s
684    b  44794.0  10085.00  y  p   e   h      1.25  f   f   0.0  f   g
685    a    22.67      0.75  u  g   c   v      2.00  f   t   2.0  t   g
686    a    25.25  44694.00  y  p  ff  ff      2.00  f   t   1.0  t   g
687    b    17.92    205.00  u  g  aa   v      0.04  f   f   0.0  f   g
688    b     35.0   3375.00  u  g   c   h      8.29  f   f   0.0  t   g

     202.0  0.0.1  +
672  256.0   17.0  -
673  260.0  246.0  -
674  240.0  237.0  -
675  129.0    3.0  -
676  100.0    1.0  -
677    0.0   50.0  -
678    0.0    0.0  -
679  280.0  364.0  -
680  176.0  537.0  -
681  140.0    2.0  -
682  240.0    3.0  -
683  400.0    0.0  -
684  260.0    0.0  -
685  200.0  394.0  -
686  200.0    1.0  -
687  280.0  750.0  -
688    0.0    0.0  -

In [ ]:
# Impute the missing values with mean imputation
cc_apps.fillna(cc_apps.mean(), inplace=True)

# Count the number of NaNs in the dataset to verify
cc_apps.isnull().values.sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

54

In [ ]:
# Iterate over each column of cc_apps
for col in cc_apps.columns:
    # Check if the column is of object type
    if cc_apps[col].dtypes == 'object':
        # Impute with the most frequent value
        cc_apps = cc_apps.fillna(cc_apps[col].value_counts().index[0])

# Count the number of NaNs in the dataset and print the counts to verify
cc_apps.isnull().values.sum()

0

In [31]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder

# Instantiate LabelEncoder
le = LabelEncoder()

# Iterate over all the values of each column and extract their dtypes
for col in cc_apps.columns:
    # Compare if the dtype is object
    if cc_apps[col].dtype=='object':
    # Use LabelEncoder to do the numeric transformation
        cc_apps[col]=le.fit_transform(cc_apps[col].astype(str))

In [32]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Drop the features 11 and 13 and convert the DataFrame to a NumPy array
cc_apps = cc_apps.drop([11, 13], axis=1)
cc_apps = cc_apps.values

# Segregate features and labels into separate variables
X,y = cc_apps[:,0:13] , cc_apps[:,13]

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                y,
                                test_size=0.33,
                                random_state=42)

In [39]:
# Import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

# Instantiate MinMaxScaler and use it to rescale X_train and X_test
scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.fit_transform(X_test)

In [34]:
# Import LogisticRegression
from sklearn.linear_model import LogisticRegression

# Instantiate a LogisticRegression classifier with default parameter values
logreg = LogisticRegression()

# Fit logreg to the train set
logreg.fit(rescaledX_train, y_train)

LogisticRegression()

In [35]:
# Import confusion_matrix
from sklearn.metrics import confusion_matrix

# Use logreg to predict instances from the test set and store it
y_pred = logreg.predict(rescaledX_test)

# Get the accuracy score of logreg model and print it
print("Accuracy of logistic regression classifier: ", logreg.score(rescaledX_test, y_test))

# Print the confusion matrix of the logreg model
print(confusion_matrix(y_test, y_pred))

Accuracy of logistic regression classifier:  0.8464912280701754
[[ 93  10]
 [ 25 100]]

In [36]:
# Import GridSearchCV
from sklearn.model_selection import GridSearchCV

# Define the grid of values for tol and max_iter
tol = [0.01, 0.001, 0.0001]
max_iter = [100, 150, 200]

# Create a dictionary where tol and max_iter are keys and the lists of their values are corresponding values
param_grid = dict(tol=tol, max_iter=max_iter)

In [37]:
# Instantiate GridSearchCV with the required parameters
grid_model = GridSearchCV(estimator=logreg, param_grid=param_grid, cv=5)

# Use scaler to rescale X and assign it to rescaledX
rescaledX = scaler.fit_transform(X)

# Fit data to grid_model
grid_model_result = grid_model.fit(rescaledX, y)

# Summarize results
best_score, best_params = grid_model_result.best_score_, grid_model_result.best_params_
print("Best: %f using %s" % (best_score, best_params))

Best: 0.847826 using {'max_iter': 100, 'tol': 0.01}